<a href="https://colab.research.google.com/github/swflora/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리 (Dictionary) : 사전
구성 : key-vaule, keyword(=key), 결과값(=value)

문자열, 리스트, 튜플 : 데이터 조회 시, 인덱싱 또는 슬라이싱 활용

딕셔너리에선 key값을 통해 데이터 조회

주의 : key값은 중복으로 만들 수 없음

In [36]:
# 나라-수도 이름
country_captital = {
    "대한민국" : "서울",
    "프랑스" : "파리",
    "미국" : "워싱턴DC",
    "영국" : "런던"
}

country_captital

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴DC', '영국': '런던'}

In [37]:
#딕셔너리에서 value값을 조회하는 방법 : key

country_captital['대한민국']

'서울'

In [38]:
data = {1: 'bus', 3 : 'airplane'}

data[1] # index 번호가 아닌 key 값

'bus'

In [39]:
data_list = {'list1' : [1,2,3], 'list2' : [4,5,6], 1 : 'test'}
data_list # 여러 자료형을 함께 저장할 수 있음

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: 'test'}

## 딕셔너리 사용처
데이터 분석 : 엑셀 테이블 데이터 가공, 임시 테이블 작성


HTML, CSS, 인터넷 자료형 중 JSON 데이터 포맷 => 딕셔너리와 동일한 형태

API 데이터 크롤링, 기본 자료형(JSON) ==> 딕셔너리 변환, 변환 후 데이터 가공

## 딕셔너리 다루기
딕셔너리의 value 값 수정

In [40]:
# 내가 좋아하는 도시 이름
country_captital['대한민국'] = '부산'
country_captital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴DC', '영국': '런던'}

딕셔너리값 삭제

In [41]:
del country_captital['영국']
country_captital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴DC'}

원칙적으로 value값만 삭제하는 것은 불가능
value를 none값으로 설정할 순 있음

In [42]:
country_captital['프랑스'] = None
country_captital['일본'] = '도쿄'
country_captital

{'대한민국': '부산', '프랑스': None, '미국': '워싱턴DC', '일본': '도쿄'}

## 딕셔너리 메서드

In [43]:
print(type(country_captital)) # 딕셔너리 객체를 하나 만든 것
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음

print(country_captital.keys()) # list 형태로 출력되지만 list는 아님
print(type(country_captital.keys()))
print(country_captital.items()) # tuple 형태로 출력
print(type(country_captital.items())) # but tuple은 아님
print(country_captital.values())

<class 'dict'>
dict_keys(['대한민국', '프랑스', '미국', '일본'])
<class 'dict_keys'>
dict_items([('대한민국', '부산'), ('프랑스', None), ('미국', '워싱턴DC'), ('일본', '도쿄')])
<class 'dict_items'>
dict_values(['부산', None, '워싱턴DC', '도쿄'])

In [32]:
# list로 변환하고자 한다면
# list(country_captital.keys())
# list로 변환되면 수정/삭제가 가능하게 됨

In [44]:
new_df = {
    '중국' : '베이징',
    '필리핀' :'마닐라',
    '호주' : '캔버라'
}

country_captital.update(new_df)
country_captital

{'대한민국': '부산',
 '프랑스': None,
 '미국': '워싱턴DC',
 '일본': '도쿄',
 '중국': '베이징',
 '필리핀': '마닐라',
 '호주': '캔버라'}

In [33]:
# result = country_captital.keys()
# result.append('독일')

In [45]:
result = list(country_captital.keys())
result.append('독일')

print(result)

['대한민국', '프랑스', '미국', '일본', '중국', '필리핀', '호주', '독일']

In [26]:
country_captital.clear()  # 빈 딕셔너리 생성
country_captital

{}